/* Footer Styles */
.footer-wrapper {
    background-color: #2c3531;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}

.footer-wrapper > .footer-logo img {
    width: 180px;
    height: 100%;
    /* filter: brightness(50%) */
    filter: opacity(50%)
}

.footer-wrapper > .footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer-wrapper > .footer-phone-hours > .hours {
    font-size: 0.8em;
    color: #ffcb9a;
    text-transform: uppercase;
}

.footer-wrapper > .links-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
}

.footer-wrapper > .social-media-icons-wrapper {
    margin-top: 0px;
    margin-bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.footer-wrapper > .social-media-icons-wrapper a {
    font-size: 1.5em;
    color: #cbcbcb;
    transition: .5s;    
}

.footer-wrapper > .social-media-icons-wrapper a:hover {
    color: #ffcb9a;
}

.footer-wrapper > .copyright-wrapper {
    margin-bottom: 32px;
    font-size: 0.7em;
    color: #858585;
}
