/* Skewed Header */
.skewed-header {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.skewed-header > .skewed-header-wrapper {
    position: absolute;
    display: flex;
    justify-content: left;
    padding-left: 50px;
    background-color: #11122b;
    width: 100%;
    color: lightgray;
}
.skewed-header > .skewed-header-wrapper > .skewed-header-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
    background-color: yellow;
    color: #2c3531;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
}
